[submodule "providers/airbyte/flavors"]
        path = providers/airbyte/flavors
        url = https://github.com/innovare-atmosphere/airbyte

[submodule "providers/odoo/flavors"]
	path = providers/odoo/flavors
	url = https://github.com/innovare-atmosphere/odoo

[submodule "providers/mattermost/flavors"]
        path = providers/mattermost/flavors
        url = https://github.com/innovare-atmosphere/mattermost

[submodule "providers/mautic/flavors"]
        path = providers/mautic/flavors
        url = https://github.com/innovare-atmosphere/mautic

[submodule "providers/maetabase/flavors"]
        path = providers/metabase/flavors
        url = https://github.com/innovare-atmosphere/metabase
[submodule "providers/wordpress/flavors"]
	path = providers/wordpress/flavors
	url = https://github.com/innovare-atmosphere/wordpress
[submodule "providers/nocodb/flavors"]
	path = providers/nocodb/flavors
	url = https://github.com/innovare-atmosphere/nocodb
[submodule "providers/erpnext/flavors"]
	path = providers/erpnext/flavors
	url = https://github.com/innovare-atmosphere/erpnext
